**/ndnSIM
**/*.cert
**/*.o

**/*.pdf
**/*.png
**/*.jpg
**/*.eps
**/*.svg

**/*.data
**/*.log

**/*.bak
**/*.gz

**/*.ns_movements
**/*.ns_params

results/*.params
results/_*
results/[0-9]*
results/shared
